.ff-NS{
    font-family: 'Noto Serif TC', serif;
}
.ff-SEC{
    font-family: 'Saira Extra Condensed', sans-serif;
}

.fs-italic{
    font-style: italic;
}

.fz16{
    font-size: 16px;
}
.fz20{
    font-size: 20px;
}
.fz24{
    font-size: 24px;
}
.fz32{
    font-size: 32px;
}
.fz44{
    font-size: 44px;
}
.fz48{
    font-size: 48px;
}
.fz64{
    font-size: 64px;
}
.fz80{
    font-size: 80px;
}
.fz400{
    font-size: 400px;
}

.border-t1{
    border-top: 1px solid $white;
}
.border-b1{
    border-bottom: 1px solid $white;
}
.border-l1{
    border-left: 1px solid $white;
}
.border-r1{
    border-right: 1px solid $white;
}


.ml8{
    margin-left: 8px;
}
.mr-5{
    margin-right: 5%;
}
.mr8{
    margin-right: 8px;
}
.mr16{
    margin-right: 16px;
}
.ml24{
    margin-left: 24px;
}
.mr24{
    margin-right: 24px;
}
.mt48{
    margin-top: 48px;
}
.mb16{
    margin-bottom: 16px;
}
.mb48{
    margin-bottom: 48px;
}

.pb4{
    padding-bottom: 4px;
}
.pb8{
    padding-bottom: 8px;
}
.pl24{
    padding-left: 20px;
}
.pr8{
    padding-right: 8px;
}
.pr24{
    padding-right: 20px;
}
.pt8{
    padding-top: 8px;
}
.pt16{
    padding-top: 16px;
}
.pt32{
    padding-top: 32px;
}
.pt48{
    padding-top: 48px;
}
.pt96{
    padding-top: 96px;
}
.pb16{
    padding-bottom: 16px;
}
.pb32{
    padding-bottom: 32px;
}
.pb48{
    padding-bottom: 48px;
}
.pb96{
    padding-bottom: 96px;
}

.mlauto{
    margin-left: auto;
}
.m0auto{
    margin: 0 auto;
}
