<div class="col-12 color-black pt48 pt48">
    <div class="col-10 d-flex m0auto flex-xxl-nowrap flex-wrap">
        <div class="col-xxl-4 col-12">
            <p class="fz32 fst-italic footer-mb">ALPHABOX+</p>
            <p class="fz24 footer-mb display-in-pc-footer">Copyright © 2023 Hexschool.</p>
        </div>
        <span class="col-xxl-4 col-12 material-symbols-outlined fz80 text-xxl-center footer-mb">emergency</span>
        <ul class="col-xxl-4 col-12 d-flex justify-content-around align-items-center flex-xxl-nowrap flex-wrap text-end-xxl">
            <li class="col-xxl-2 col-12 footer-mb"><a class="color-black" href="#">關於我們</a></li>
            <li class="col-xxl-2 col-12 footer-mb"><a class="color-black" href="#">產品資訊</a></li>
            <li class="col-xxl-4 col-12 footer-mb"><a class="color-black" href="#">最常見問題新消息</a></li>
            <li class="col-xxl-2 col-12 footer-mb"><a class="color-black" href="#">隱私政策</a></li>
            <li class="col-12 fz24 footer-mb display-in-mobile-footer">Copyright © 2023 Hexschool.</li>
        </ul>
    </div>
</div>