<div class="col-12 bg-purple-100 color-white pt16 pb16 border-b1 d-flex">
    <div class="col-8 d-flex m0auto">
        <a href="index.html" class="col-4 fz32 fst-italic">ALPHABOX+</a>
        <ul class="col-4 d-flex justify-content-around align-items-center">
            <li><a class="color-white display-in-mobile-header" href="#">產品</a></li>
            <li><a class="color-white display-in-mobile-header" href="#">關於我們</a></li>
            <li><a class="color-white display-in-mobile-header" href="#">最新消息</a></li>
            <li><a class="color-white ff-NS display-in-mobile-header" href="#">FAQ</a></li>
            <li><a class="color-white display-in-mobile-header" href="#">聯絡我們</a></li>
        </ul>
        <div class="col-4 d-flex align-items-center">
            <ul class="col-6 d-flex justify-content-between align-items-center mlauto">
                <li><a class="color-white display-in-pc-header" href="#">註冊</a></li>
                <li><a class="color-white display-in-pc-header" href="#">登入</a></li>      
                <li class="display-in-pc-header">  
                    <button type="button" class="btn bg-white d-flex align-items-center">
                        <span class="material-symbols-outlined">point_scan</span>
                        <p class="text-center">訂閱</p>
                    </button>
                </li>
                <li class="hide-in-list">
                    <span class="material-symbols-outlined fz44 color-white accordion-header" id="headingOne" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">dehaze</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="accordion" id="accordionExample">
    <div class="accordion-item bg-purple-100">  
      <div id="collapseOne" class="accordion-collapse collapse show bg-gradient-purple-bottom" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <!-- <div class="accordion-body"> -->
          <ul class="text-center">
            <li class="pt16 pb16 undisplay-in-mobile-header"><a class="color-white" href="#">產品</a></li>
            <li class="pt16 pb16 undisplay-in-mobile-header"><a class="color-white" href="#">關於我們</a></li>
            <li class="pt16 pb16 undisplay-in-mobile-header"><a class="color-white" href="#">最新消息</a></li>
            <li class="pt16 pb16 undisplay-in-mobile-header"><a class="color-white ff-NS" href="#">FAQ</a></li>
            <li class="pt16 pb16 undisplay-in-mobile-header"><a class="color-white" href="#">聯絡我們</a></li>
            <li class="pt16 pb16 undisplay-in-pc-header"><a class="color-white" href="#">註冊</a></li>
            <li class="pt16 pb16 undisplay-in-pc-header"><a class="color-white" href="#">登入</a></li>      
            <li class="undisplay-in-pc-header pt16 pb16">  
                <button type="button" class="btn bg-white d-flex align-items-center m0auto">
                    <span class="material-symbols-outlined">point_scan</span>
                    <p class="text-center">訂閱</p>
                </button>
            </li> 
          </ul>
        <!-- </div> -->
      </div> 
    </div>
</div>